@model IEnumerable<Movie>
@{
    ViewData["title"] ="Movies";
}
<h2 class="border-bottom border-secondary pb-2"><i class="bi bi-film me-2"></i>Top Rated @Model.Count() Movies</h2>
<a asp-action="Create" class="btn btn-primary me-2"><i class="bi bi-plus-circle me-2"></i>Create Movie</a>
<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning"><i class="bi bi-exclamation-triangle-fill me-2"></i>No Movies Found</div>
    }
    else
    {
        @foreach (var movie in Model)
        {
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2 poster" style="background-image:url(data:image\/*;base64,@(Convert.ToBase64String(movie.Poster)));"></div>
                        <div class="col-md-10">
                            <div class="card-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h5 class="card-title">@movie.Title (@movie.Year)</h5>
                                    <p class="card-text">@(movie.StoryLine.Length > 500 ? movie.StoryLine.Substring(0, 500) + "..." : movie.StoryLine)</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                <p class="card-text m-0 d-flex align-items-center">
                                        <small class="text-body-secondary"><i class="bi bi-star-fill text-warning me-1"></i>@movie.Rate.ToString("0.0")</small>
                                </p>
                                <div>
                                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@movie.MovieId">
                                        <i class="bi bi-camera-reels me-1"></i>Details</a>
                          
                                     <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@movie.MovieId">
                                        <i class="bi bi-pencil me-1"></i>Edit</a>
                                <a href="javascript:;" class="btn btn-danger js-delete" data-id=@movie.MovieId>
                                            <i class="bi bi-trash me-1"></i>Delete
                                </a>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
            $('.js-delete').on("click",function(){
                var btn=$(this);
                bootbox.confirm({
                    message: 'Are you sure that you want to delete the movie ?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if(result)
                        {
                        $.ajax({
                            url: '/movie/delete/' + btn.data("id"),
                            success: function () {
                                    btn.parents(".col-12").addClass("animate__animated animate__zoomOutDown");
                                    setTimeout(function(){
                                        btn.parents(".col-12").remove();
                                    }, 1000)
                                toastr.success("Movie deleted succefully");
                            },
                            error: function () {
                                toastr.error("Something went Wrong");
                            }
                        })
                        }
                    }
                });
            })
        })
    </script>
}